html {
    background-color: rgb(51, 51, 51);
}

body {
    overflow-x: hidden;
}

#site {
    opacity: 1;
}

.showAnimation {
    animation: showUp .5s forwards;
}

@keyframes showUp {
    100% {
        opacity: 1;
    }
}

#loading {
    display: block;
    margin: 0 auto;
}

.row {
    margin: 0px !important;
}

.logo-transition {
    transition: all 0.4s;
}

.logo {
    top: 0%;
    left: 0%;
    width: 309px;
    height: 145px;
    display: block;
    margin: 0 auto;
}

.sticky-logo {
    left: 0%;
    top: 0%;
    position: fixed;
    display: block;
    width: 100px;
    height: 50px;
    z-index: 4;
    padding-left: 15px;
}

.navbar {
    transition: all 0.5s;
}

.nav {
    display: block;
    text-align: right;
    height: 73px;
    border-bottom: 1px solid rgb(48, 48, 48);
    box-shadow: 0px -2px 4px 4px;
    padding: 25px;
}

.nav > .nav-item {
    font-weight: bold;
    color: white;
    padding: 25px;
    transition: all 0.5s;
}

.gold {
    background: rgb(199, 169, 0);
}

.nav > .nav-item:hover {
    background: rgb(54, 54, 54);
}

.parallax-container {
    height: 500px;
}

.parallax img {
    filter: blur(3px);
}

.play-icon {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    fill: white;
    filter: drop-shadow(4px 4px 3px #000);
    display: block;
    height: 90px;
    width: 90px;
    margin: 50px auto;
    cursor: pointer;
    transition: transform 0.4s;
}

.play-icon:hover {
    transform: scale(1.5);
}

.wtf {
    height: 1000px;
}

.sticky {
    position: fixed;
    width: 100%
  }

.sticky-nav {
    display: block;
    text-align: right;
    height: 50px;
    /* background-color: rgb(63, 0, 63); */
    background: linear-gradient(to right, rgb(100, 0, 100), rgb(63, 0, 63));
    border-bottom: 1px solid rgb(48, 48, 48);
    box-shadow: 0px -2px 4px 4px;
    padding: 13px;
    z-index: 3;
  }

.sticky-nav > .nav-item {
    font-weight: bold;
    color: white;
    padding: 15px;
    transition: all 0.5s;
}

.sticky-nav > .nav-item:hover {
    background: rgb(110, 0, 110);
}

.s-modal {
    display: none;
    position: fixed;
    z-index: 5;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.s-modal-video {
    opacity: 0;
    background: rgba(0,0,0,0.7);
    animation: modal-start-animation 0.4s forwards;
}

@keyframes modal-start-animation {
    100% {
        opacity: 1;
    }
}

.s-modal-close {
    position: absolute;
    right: 5%;
    color: #aaa;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
    font-weight: 100;
}

.s-modal-close:hover {
    color: gray;
}


/* About section */

.heading-secondary {
    font-size: 40px;
    text-align: center;
}

.heading-tertiary {
    font-size: 25px;
}

.u-margin-top-small {
    margin-top: 20px !important;
}

.u-margin-top-medium {
    margin-top: 40px !important;
}

.u-margin-top-large {
    margin-top: 60px !important;
}

.u-margin-bottom-small {
    margin-bottom: 20px !important;
}

.u-margin-bottom-medium {
    margin-bottom: 40px !important;
}

.u-margin-bottom-large {
    margin-bottom: 60px !important;
}

.u-padding-right-small {
    padding-right: 20px !important;
}

.u-padding-right-medium {
    padding-right: 40px !important;
}

.u-padding-right-large {
    padding-right: 60px !important;
}

.u-center-text {
    text-align: center;
}

.u-white-color {
    color: white;
}

.u-thin-text {
    font-weight: 100;
}

.section-about {
    background: linear-gradient(to right bottom, rgb(44, 44, 44),rgb(36, 36, 36));
    padding-top: 40px;
    color: white;
}

.about-images {
    position: relative;
    height: 400px;
}

.about-image {
    position: absolute;
    top: 0%;
    left: 0;
    width: 450px;
    z-index: 1;
    transition: all .3s;
    box-shadow: 0px 5px 15px black;
    border-radius: 3px;
    background-size: cover;
}

.about-image:hover {
    opacity: 1 !important;
    z-index: 2;
    transform: scale(1.1);
}

.about-image-1 {
    /*  */
    /* background-color: orangered; */
}

.about-image-2 {
    /* background-color: black; */
    top: 10%;
    left: 30%;
}

.about-image-3 {
    /* background-color: yellow; */
    top: 20%;
    left: 10%;
}

.about-images:hover .about-image:not(:hover){
    transform: scale(0.95);
}

/* Available hacks section */

.section-hacks {
    display: none;
    background-color: rgb(46, 46, 46);
}

.hacks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.hack {
    position: relative;
    height: 300px;
    width: 250px;
    background: #f0f0f0;
    box-shadow: 0px 0px 5px 1px black;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.hack:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px 3px black;
}

.hack-image {
    /* height: 180px; */
    width: 250px;
}

.hack-image > img {
    max-width: 100%;
    height: 230px;
    object-fit: cover;
}


.hack-name {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px;
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hack-status {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 50;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    transform: translateX(-50%);
    background: white;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.detected {
    background: red;
}
.detected::after{
    content: 'Detected';
}

.patch-guard {
    background: yellow;
}

.patch-guard::after {
    content: 'PatchGuard';
}

.undetected {
    background: darkgreen;
}

.undetected::after {
    content: 'Undetected';
}

.updating {
    background: rgb(0, 0, 133);
}

.updating::after{
    content: 'Updating';
}

.white-text {
    color:white;
    font-weight: normal;
}

/* Section features */

.section-features {
    padding: 100px 0;
    background-image: linear-gradient(to right, rgba(0, 51, 135, 0.8), rgba(0, 26, 71, 0.8)), url('../images/bg2.jpg');
    background-size: cover;
    /* background-color: rgb(107, 107, 107); */
}

.feature {
    margin: 35px auto;
    padding: 20px;
    /* height: 350px; */
    min-height: 350px;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.8);
    border-radius: 3px;
    transition: all .3s;
}

.feature:hover {
    transform: translateY(-30px);
    box-shadow: 0px 0px 15px black;
}

.showhacks-button {
    display: inline-block;
    text-decoration: none;
    color: rgba(255,255,255,.7);
    text-align: right;
    padding-bottom: 10px;
    margin-bottom: 10px;
    z-index: 2;
    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255,.7);
    transition: all .3s;
    backface-visibility: hidden;
}

.showhacks-button:hover {
    transform: scale(1.1);
}

footer {
    padding: 2px;
    margin: 0px;
    color: white;
    background-color: rgb(46, 46, 46);
    text-align: center;
    font-size: 14px;
}